
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */

img {
/*  max-width: 600px;
*/  height:250px;
	width:100%;
  	opacity: 0.8;
  	filter:grayscale(25%);
  	border-radius:3px;
  	border:5px solid white;

}

img:hover{
	opacity: 1;
	transition: 0.2s;
}

.dropdown{
	position:relative;
	display:inline-block;
}

.dropdown .dropdown-content{
	display:none;
	position:absolute;
	background-color:black;
	z-index:1;
	width:auto;
	text-align:left;
}

.dropdown a:hover{
	transition:0.2s;
	color:black;

}

.dropdown:hover .dropdown-content{
	display:block;
}

/*https://www.newmediacampaigns.com/blog/nicer-navigation-with-css-transitions-part-2
*/

/* ==========================================================================
   TEXT STYLE
   ========================================================================== */

/*font-family: 'Montserrat', sans-serif;
font-family: 'Libre Caslon Text', serif;
font-family: 'Beth Ellen', cursive;
font-family: 'Lora', serif;
font-family: 'Dancing Script', cursive;
font-family: 'Darker Grotesque', sans-serif;
*/


/*font-family: 'Rajdhani', sans-serif;
font-family: 'Neuton', serif;
font-family: 'Playfair Display SC', serif;
font-family: 'Arapey', serif;
*/

a:hover{
	transition: 0.2s;
	color:black;
}

nav a{
	font-family: Darker Grotesque, 'sans-serif';
	font-size: 20px;
	letter-spacing: 0.2em;
	text-decoration: none;
	text-transform: uppercase;
/*	color:#44545E;*/
color:white;
	padding:30px;
}

/* ==========================================================================
   HEADER/NAV
   ========================================================================== */


nav{
	position: sticky;
	top: 0;
	background-color:black;
	z-index:1;
	padding:25px;
	text-align:center;
}

header {
	/*background-image: url('../img/home_header_bg.jpg');*/
	height:400px;
	background-position: top center;
	background-size: cover;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction:column;
	background-attachment: fixed;
}


/* ==========================================================================
   GUIDES
   ========================================================================== */

.title{
	display:flex;
	justify-content:center;
	/*padding-left:75px;*/
}

.title2{
	display:flex;
	justify-content:left;	
	padding-left:75px;
}

.row {
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	flex-direction:row;
	}

.col-33 {
	width: 33%;
	padding:5px;
}

.col-50{
	width:50%;
	padding:5px;
}

.wrapper{
	position:relative;
}

.image-text{
	position:absolute;
	bottom:70%;
    right: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    text-transform:uppercase;
    opacity:0.8;
	color:white;
    letter-spacing: 0.2em;
}

.image-text:hover{
	color:#44545E;
	opacity:1;
	transition: 0.2s;

}


/* ==========================================================================
   BASE
   ========================================================================== */

h1,h2,h3,h4,h5,h6{
	text-align: center;
	color:#44545E;
}

h1{
	font-size: 22px;
	font-weight:bold;
	font-family: 'Beth Ellen', cursive;
	text-transform:lowercase;
	letter-spacing: 0.2em;
}

h2{
	font-size: 20px;
	font-family: Darker Grotesque, 'sans-serif';
	text-transform: uppercase;
	letter-spacing:0em;
}

h3{
font-family: 'Lora', serif;
	font-size:20px;
	font-style:italic;

}

h4{
	font-family: 'Neuton', serif;
	font-size:25px;
	font-style:italic;
	text-transform:uppercase;
}

p{
	text-align:center;
	font-family: Darker Grotesque, 'sans-serif';
	font-size: 18px;
	text-decoration: none;
	color:#44545E;
}

section{
	background-color:white;
	padding-left:50px;
	padding-right:50px;
	display:flex;
	justify-content:center;
}

button{
	display:block;
    margin: 0 auto;
	text-transform:uppercase;
	background-color: white;
	font-size: 14px;
	font-family: Darker Grotesque, 'sans-serif';
	font-weight:bold;
	text-transform: uppercase;
	letter-spacing:0.1em;
    box-shadow: 0px 3px lightblue, 2px 2px lightblue, 1px 1px lightblue;
    border: 1px solid grey;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:30px;
	padding-right:30px;
}

button:hover{
	background-color:lightblue;
}

.bottom-border{
	border-bottom: 4px solid black;
}

/* ==========================================================================
   FOOTER
   ========================================================================== */

footer{
	background-color:black;
/*	position: sticky;*/
/*	z-index:1;*/
	padding:15px;
	text-align:center;
	color:white;
	font-family: Darker Grotesque, 'sans-serif';
	font-size: 20px;
	letter-spacing: 0.2em;
	text-decoration: none;
	text-transform: uppercase;
}


.social-icons a {
	font-size: 20px;
	margin: 5px;
	color:white;
}

.social-icons a:hover{
	color:black;
}

.modal-content{
	background-color:blue;
	width:60%;
	padding: 40px 20px;
}

